<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Assignment_2</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    
  </welcome-file-list>
  
  <servlet>
     <servlet-name>LoginServ</servlet-name>
     <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>LoginServ</servlet-name>
     <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>RegisterServ</servlet-name>
     <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>RegisterServ</servlet-name>
     <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
     <servlet-name>BookServ</servlet-name>
     <servlet-class>servlets.BooksServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>BookServ</servlet-name>
     <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
     <servlet-name>MyLib</servlet-name>
     <servlet-class>servlets.MyLibraryServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>MyLib</servlet-name>
     <url-pattern>/MyLibrary</url-pattern>
  </servlet-mapping>
  

  
    <servlet>
     <servlet-name>Library</servlet-name>
     <servlet-class>servlets.LibraryServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>Library</servlet-name>
     <url-pattern>/BookList</url-pattern>
  </servlet-mapping>
  
   <servlet>
     <servlet-name>Ret</servlet-name>
     <servlet-class>servlets.StatusServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>Ret</servlet-name>
     <url-pattern>/Return</url-pattern>
  </servlet-mapping>
</web-app>